@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  scroll-snap-type: y mandatory;
  transition: 1500ms all;
}

::-webkit-scrollbar {
  display: none;
}

section {
  scroll-snap-align: start; 
}

@layer utilities {
  .padding {
    @apply bg-white min-h-screen flex flex-col;
  }
  .circle {
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: 0 0 10px white;
    pointer-events: none;
    position: fixed;
    top: -10rem;
    left: -10rem;
    height: 2rem;
    width: 2rem;
    transition: transform 0.4s, background 0.4s;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
